body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    background-color: #f4f4f4;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background: #f4f4f4;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

#logo {
    height: 50px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 16pt;
    font-weight: 600;
    color: #007BFF;
    transition: 0.3s ease;
}

#navbar li a:hover, #navbar li a.active{
    color: #0056b3;
    text-decoration: overline;
}


#filler {
    background-image: url('../tech-e/images/idk.jpg');
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: top 25% right 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:center;
    color: #f4f4f4;
}

button {
    margin-left: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

button:hover {
    background-color: #0056b3;
}

#product1 {
    text-align: center; 
}

.pro-container {
    margin-left: 20px;
    margin-bottom: 50px;
    border: 2px solid red;
    border-radius: 25px;
    padding: 20px;
}

#product1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#product1 .pro {
    width: 22%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1.5px solid #cce7d0;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 20px 20px 30px Orgba(0, 0, 0, 0.02);
    margin: 15px 0;
    transition: 0.3s ease;
    background-color: white;
}

#product1 .pro img {
    width: 100%;
    border-radius: 20px;
}

#product1 .pro:hover {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
}

.rating {
    color: gold;
}

#sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

#sm-banner .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../tech-e/images/login_bg2.jpg");
    min-width: 460px;
    height: 25vh;
    background-size: cover;
    background-position: center;
    padding: 110px;
    margin-left: 25px;
}

#sm-banner .banner-box2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url('../tech-e/images/banner1.webp');
    min-width: 500px;
    height: 25vh;
    background-size: cover;
    background-position: center;
    padding: 110px;
    margin-left: 25px;
}

button.white {
    font-size: 12pt;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    border: 1px solid #fff;
    outline: none;
    transition: 0.2s;
}

#sm-banner .banner-box:hover button {
    background-color: #088178;
    border: 1px solid #088178;
}

#sm-banner .banner-box2:hover button {
    background-color: #088178;
    border: 1px solid #088178;
}

#sm-banner h4 {
    color: #fff;
    font-size: 20px;
    font-weight: 300;
}

#sm-banner h2 {
    color: #fff;
    font-size: 28px;
    font-weight: 800;
}

#banner3 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 10px;
    margin-left: 15px;
}

#banner3 .banner-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-image: url("../tech-e/images/banner3a.webp");
    min-width: 29%;
    height: 30vh;
    background-size: cover;
    background-position: center;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 50px;
}

#banner3 .banner-box2 {
    background-image: url("../tech-e/images/banner3b.jpg");
}

#banner3 .banner-box3 {
    background-image: url("../tech-e/images/banner3c.webp");
}

#banner3 h2 {
    color: #fff;
    font-weight: 900;
    font-size: 22pt;
    margin-bottom: 0px;
}

#banner3 h3 {
    color: #fffb00;
    font-weight: 800;
    font-size: 15px;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    margin-top: 50px;
}
    
footer .col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-left: 60px;
}

footer .colx {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 20px;
    margin-right: 100px;
    margin-top: 120px;
}

footer .logo {
    margin-bottom: 30px;    
}

footer h4 {
    font-size: large;
    padding-bottom: 20px;
}

footer p {
    font-size: large;
    margin: 0 0 8px 0;
}

footer a {
    font-size: large;
    text-decoration: none;
    color: #222;
    margin: 10px;
}

footer .follow {
    margin-top: 20px;
}

footer .follow i {
    color: #465b42;
    padding-right: 4px;
    cursor: pointer;
}

footer .copyright {
    width: 100%;
    text-align: center;
}